html
  head
    title Fantasie des Gemeinsamen
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700,600italic,400italic,700italic' rel='stylesheet' type='text/css')
    link(href='css/bootstrap.min.css' rel='stylesheet')
    link(href='css/main.css' rel='stylesheet')
  body(ng-app="FantasieApp" ng-controller="MainCtrl")
    .container
      .row.wrapper
        img.logo(src='images/logo.png')
        .col-md-9
          .story(ng-repeat="snippet in snippets | limitTo: limit")
            .row
              .col-md-4
                span.pull-right {{ snippet.date | date : 'dd.MM.yyyy HH:mm' }} <br /> {{ snippet.ip }}
                a.pull-right(type='submit' ng-click="removeSnippet(snippet)" ng-if="admin") entfernen
              .col-md-8.last-snippet
                p {{ snippet.text }}
                .fader(ng-if="{{limit == 1}}")
          .row
            .col-md-push-4.col-md-9
              from(ng-show="!resolved")
                textarea.form-control.fdm-textarea(ng-model='snippet.text' placeholder='und dann?' rows='10' maxlength='600')
                .col-md-2
                  p.counter {{ 600 - snippet.text.length }}
                .col-md-10
                  a(type='submit' ng-if="snippet.text.length > 1" ng-click="addSnippet()") anfügen
      .row
        .col-md-12
          a(type='submit' ng-click="clear()") alles löschen
          a.pull-right(type='submit' ng-click="login()") admin
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/angular.min.js')
    script(src='js/angular-resource.min.js')

    script(src='js/app.js')
    script(src='js/snippet-service.js')
