body {
  background-color: #efefef;
}

.row.wrapper {
  padding: 0;
  background-color: #FFFFFF;
}

.last-snippet {
  position:relative;
}

.last-snippet .fader {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0px, rgba(255,255,255,0) 80px); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0px,rgba(255,255,255,0) 80px); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0px,rgba(255,255,255,0) 80px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

@media (min-width: 810px) {
  .row.wrapper img.logo {
    width: 40%;
    height: auto;
    margin-bottom: 30px;
    position: relative;
    left: -30px;
  };
}

@media (max-width: 810px) {
  .row.wrapper img.logo {
    width: 40%;
    height: auto;
    margin-bottom: 30px;
    position: relative;
    left: 0 !important;
  };
}

.fdm-textarea{
  border: none;
  outline: 0;
  box-shadow: none;
  height: 500px;
  max-height: 500px;
  resize: none;

  padding: 0;
  padding-left: 30px;
  border-radius: 0;
  border-left: 1px solid #fafafa;

  margin-bottom: 35px;
}

      .fdm-textarea:focus{
        outline: none;
        box-shadow: none;
        border-color: #ccc;
      }

p, .fdm-textarea {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-size: 1.8em;
  line-height: 1.4em;
  font-weight: 300;
  color: #343434;

  letter-spacing: 0.025em;
}

.story span {
  opacity: 0;
  margin-top: 15px;
  font-size: 1.1em;
  font-family: 'Open Sans', serif;
  color: #ccc;
}

.story .row {
  border-top: 1px solid #FFF;
}

.story:hover span {
  opacity: 1;
}

.story:hover .row {
  border-top: 1px solid #ccc;
}

.counter {
  color: #ccc;
}

a {
  margin-top: 10px;
  font-family: 'Open Sans';
  font-weight: 300;
  display: inline-block;
  border: 1px solid #ccc;
  color: #aaa;
  border-radius: 1px;
  padding: 10px 50px;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
  background-color: #ccc;
}



::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;
}

:-ms-input-placeholder {
   color: #ccc;
}
